
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}

.overlay:target{
    visibility: hidden;
    opacity: 0;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
}

#mainBoard{
    border:2px solid #000;
    border-collapse: collapse;
    top: 50%;
    position: absolute;
    left: 50%;     
    width:350px;
    height:300px;
    transform: translate(-50%, -50%);
    background: #fff;
}
.clear {
    clear: both;
}
.wrapper {
    width: 1000px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background:white;
    
}


.active{
    background: rgb(192, 187, 187);
}

.playerPanel1,
.playerPanel2{
    width: 50%;
    float: left;
    height: 600px;
}

.playerName{
    font-size: 40px;
    margin-top:10%;
   
}
.player1Name{
    margin-left: 20%;
}
.player2Name{
    margin-left: 55%;
}

.gameSquare{
    width: 40px;
    height: 40px;
    border:2px solid #000;
    border-collapse: collapse;
    background-color:green;
}

.scoreBox{  
    margin-top: 10%;
    margin-left: 30%; 
    width: 100px;
    height: 100px;
    color: rgb(21, 24, 27);
    text-align: center;
    font-size:30px;
}

#scorePlayer1{
    margin-left:-80%;
}

#scorePlayer2{
    margin-left:180%;
}

.statsWrapper{
    width: 100px;
    height:80px; 
    border:2px;
    background-color: rgb(65, 109, 35);
    text-align: center;
    color: rgb(7, 7, 7);
    float: left;     
}

.player1AverageStats{
    margin-top: 10%;    
    margin-left: 0%;
}

.player2AverageStats{
    margin-top: 10%;
    margin-left: 40%; 
}

.playerRiskStats{
    margin-top: 10%;    
    margin-left:20%; 
}
.statsLabel{
    margin-left: 5%;
    font-size: 18px;
}

.statsContent{
    font-size: 20px;
    margin-top: 10%;
}


.active>.playerName::after {
    height: 15px;
    width: 15px;
    background-color: rgb(184, 53, 53);
    border-radius: 50%;
    display: inline-block;
    content: "";
  }

.gameCircle{
    height: 20px;
    width: 20px;
    margin-left: 23%;
    margin-top:50%;
    border-radius: 50%;
    position: relative;
    display: block;
    content: "";
    text-align:center;
    visibility: hidden;
}
.circlePlayer1{
    background-color: #000;
    visibility: visible;
}


.circlePlayer2{
    background-color: #fff;
    visibility: visible;
}

.trainerWrapper{
    height: 50;
    width: 200px;
    text-align: justify;
    position: relative;
    margin-top: 0%;
    font-size: 20px;
    visibility: hidden;
}
#trainerPlayer1{
    margin-left:0%;
}
#trainerPlayer2{
    margin-left:64%;
}

